apiVersion: 1

datasources:
  # Datasource principale : Prometheus
  - name: Prometheus
    type: prometheus
    uid: prometheus       # ← OBLIGATOIRE
    access: proxy
    url: http://prometheus:9090
    isDefault: true

  # Datasource cAdvisor (monitoring des containers Docker)
  - name: cAdvisor
    type: prometheus
    uid: cadvisor         # ← ajoute un UID propre
    access: proxy
    url: http://cadvisor:8080
    isDefault: false

  # Datasource API (FastAPI /metrics)
  - name: Titanic-API
    type: prometheus
    uid: titanic-api      # ← ajoute un UID propre
    access: proxy
    url: http://api:8000/metrics
    isDefault: false
